/* Announcements and Events 
h2 {
  text-align: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.red-text {
  color: maroon;
  
}

.center {
  text-align: center;
}

.center-img {
  float: left;
  width: 25%;
  padding-left: 15%
}


/*Align sections
.first-section {
  width: 45%;
  height: 50%;
  float: left;
}

.second-section{
  width: 50%;
  height: 50%;
  float: right;
}

.third-section{
    position: relative;
    float: left;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    bottom: 0;
}

.footer {
 position: relative;
 float: left;
 width: 100%;
}

.navbar {
  background-color: #2C6CA3;
}

.navbar-container {
  float: left;
  width: 80%;
  border-bottom: 2px solid black;
  padding: 20%;
}

.navbar ul {
  list-style: none;
  margin: 1em 1em;
  padding: 1em 1em;
  position: relative;
  display: flex;
}
*/
body {
  font-family: Arial, sans-serif;
}

.wrapper-congress {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.wrapper-congress h1 {
  text-align: center;
  font: arial, sans-serif;
  font-size: 32px;
  margin: 10px
}

.wrapper-congress h2 {
  text-align: center;
  font: Arial, sans-serif;
  color: maroon;
  font-size: 20px;
}

.wrapper-congress h3 {
  text-align: center;
  font: arial, sans-serif;
  margin: 10px;
}

.wrapper-congress p {
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 15px;
}

.img-container-2018 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  max-width: 50%;
  margin: 50px auto;
}

.img-2018 {
  max-width: 100%;
  height: auto;
  float: left;
  width: 100%;

}

.wrapper-committee {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: - 2px 4px rgba(0,0,0,0.1)
}

/*Themes box*/
.wrap-collabsible {
    margin-bottom: 1.2rem;
  }

.content-inner {
  text-align: center;
}

.content-inner li {
  padding-bottom: 5px;
}

  input[type='checkbox'] {
    display: none;
  }
  
  .lbl-toggle {
    display: block;
  
    font-weight: bold;
    font-family: monospace;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
    margin-left: 20%;
    margin-right: 20%;
    color: white;
    background:#2C6CA3;
  
    cursor: pointer;
  
    border-radius: 7px;
    transition: all 0.25s ease-out;
  }
  
  .lbl-toggle:hover {
    color: #7C5A0B;
  }
  
  .lbl-toggle::before {
    content: ' ';
    display: inline-block;
  
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);
  
    transition: transform .2s ease-out;
  }
  
  .toggle:checked + .lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
  }
  
  .collapsible-content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
  }
  
  .toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 100vh;
  }
  
  .toggle:checked + .lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .collapsible-content .content-inner {
    background: rgba(250, 224, 66, .2);
    border-bottom: 1px solid rgba(250, 224, 66, .45);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: .5rem 1rem;
    margin-left: 20%;
    margin-right: 20%;
  }

  

  @media(max-width:800px) {
    .first-section {
      display: flex;
      flex-wrap: wrap;
    }
    .second-section {
      display: flex;
      flex-wrap: wrap;
    }
    .third-section {
      display: flex;
      flex-wrap: wrap;
    }
  }

