
#contact-form {
    margin-bottom: 1em;
    border: 3px solid #2C6CA3;
    padding: .25em;
}

#contact-form h3 {
    margin: .25em;
    font-size: 2em;
    text-align: center;
}

#contact-form p {
    margin-bottom: .5em;
    font-size: 1.2em;
    text-align: center;
}

.input-container {
    margin: .35em 0em;
    border-radius: 10px;
}

#submit-button {
    margin: .2em;
    text-align: center;
}

#submit {
    border-radius: 8px;
    width: 90%;
    height: 2.5em;
    cursor: pointer;
    background-color: #2C6CA3;
}